        <nav>
                <form class="navbar-form nav-pills pull-right" role="form" method="post" action="../search">
                        <div class="input-group">
                                <input type="text" style="width:150px" class="input-sm form-control" placeholder="Recherche" name="keys">
                                <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-eye-open"></span> Chercher</button>
                                </span>
                        </div>
                </form>

          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="../index">Home</a></li>
            <li role="presentation" class="active"><a href="">Articles</a></li>
            <li role="presentation"><a href="../about-alexandre-domont">About & Contact</a></li>
          </ul>

	<h2 class="text-muted">Huntrust.org</h2>

        </nav>
