<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Creat and push SSH key repo into github">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Creat repository Github and push with ssh key</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/hunt.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/blog.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>

  <body>

      <div class="container">

	<div class="header clearfix">
	<div id="menu"></div>
                <script>
                $( "#menu" ).load( "../templates/menu-articles.html" );
                </script>
	</div>
      </div>

    <div class="container">

	<div class="blog-header">
        </div>

      <div class="row">

        <div class="col-sm-8 blog-main">


	<div class="blog-post">
            <h2 class="blog-post-title">Creat repo Github and Push code with ssh key</h2>
            <p class="blog-post-meta"> May 7, 2015 by <a href="#">Alex</a></p>

		<p>I use those two procedures for creat and add ssh key </p>
		<ul>
		<li><a href="https://help.github.com/articles/create-a-repo/">create-a-repo</a></li>
		<li><a href="https://help.github.com/articles/generating-ssh-keys/">generating-ssh-keys</a></li>
		</ul>

		<p>Then push still ask username...</p>

		<p>Check configuration repo</p>

		<pre><code>git remote -v</code></pre>

		<p>And for not add username when push, but use key SSH, add this :</p>

		<pre><code>git remote set-url origin git@github.com:AlexandreDomont/huntrust.org.git</code></pre>


		<p>Result</p>

		<pre><code>git remote -v
origin	git@github.com:AlexandreDomont/huntrust.org.git (fetch)
origin	git@github.com:AlexandreDomont/huntrust.org.git (push)</code></pre>
	
		<p>Go ...</p>

		<pre><code>git push origin master</code></pre>

		<p>A example :</p>

		
		<pre><code>git add .;git commit -am 'push article github version 00'
[master cd9e677] push article github version 00
 2 files changed, 117 insertions(+)
 create mode 100644 blog/articles/.github.html.swp
 create mode 100644 blog/articles/github.html</code></pre>


<pre><code>git push origin master
Warning: Permanently added the RSA host key for IP address '192.30.252.00' to the list of known hosts.
Décompte des objets: 6, fait.
Delta compression using up to 4 threads.
Compression des objets: 100% (6/6), fait.
Écriture des objets: 100% (6/6), 3.50 KiB | 0 bytes/s, fait.
Total 6 (delta 3), reused 0 (delta 0)
To git@github.com:AlexandreDomont/huntrust.org.git
   d10d236..cd9e677  master -> master</code></pre>

	
	</div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>All articles</h4>
            <ol class="list-unstyled">
		<div id="listes"></div>
		<script>
		$( "#listes" ).load( "../templates/listes-articles.html" );
		</script>
		</div>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
	<div id="footer"></div>
	 <script>
                $( "#footer" ).load( "../templates/footer.html" );
         </script>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

